@font-face {
    font-family: Higuen Regular;
    src: url('https://assets.zyrosite.com/YNqJJk9P7QF5z9Q7/Higuen Regular.woff2') format('woff2');
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background-color: #414b3b;
}
.block-top{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
    border-bottom: 1px #e2e2e2 solid;
    
    .left {
        display: flex;

        img {
            width: 50px;
        }
    }

    .center {
        color: white;
        font-family: Higuen\ Regular;
        font-weight: 400;
        font-size: 20px;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0);
    }

    .rigth {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .user{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .rightSecond{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

.block-bot{
    border: 1px red solid;
    margin: 50px;

    .BlockHeader{
        display: flex;
        justify-content: space-between;
    }

    .BlockBody{
    
        .Reference{

            img{
                width: 200px;
            }
        }
    }
}

.lalabel {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
    cursor: pointer;
    width: 80px;
    width: 100px;
    height: 20px;
}

.lalabel:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.lalabel:focus,
.lalabel:active {
    opacity: .85;
    box-shadow: none;
}

.lalabel svg {
    width: 1.25rem;
    height: 1.25rem;
}

input[type="file"] {
    display: none;
}