@font-face {
    font-family: Higuen Regular;
    src: url('https://assets.zyrosite.com/YNqJJk9P7QF5z9Q7/Higuen Regular.woff2') format('woff2');
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: "Sorts Mill Goudy", serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #414b3b;
}

.block-top {
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
    border-bottom: 1px #e2e2e2 solid;

    .left {
        display: flex;

        img {
            width: 50px;
        }
    }

    .center {
        color: white;
        font-family: Higuen\ Regular;
        font-weight: 400;
        font-size: 20px;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0);
    }

    .rigth {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .user {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .rightSecond {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

.block-bot {
    margin: 0px 50px 0px 50px;
    overflow-y: auto;

    .BlockHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .status {
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                
            }

            p {
                font-size: 20px;
            }

            .statusForm {
                display: flex;
                gap: 10px;
            }

            .approval {
                position: relative;
                padding: 10px 22px;
                border-radius: 6px;
                border: none;
                color: #fff;
                cursor: pointer;
                background-color: #2ed418;
                transition: all 0.2s ease;
            }

            .reject {
                position: relative;
                padding: 10px 22px;
                border-radius: 6px;
                border: none;
                color: #fff;
                cursor: pointer;
                background-color: #af1a1a;
                transition: all 0.2s ease;
            }

        }

        .title {

            p {
                font-size: 50px;
            }
        }
    }

    .serviceType {
        display: flex;

        p {
            background-color: rgb(154 154 165 / 49%);
            border: 1px white solid;
            padding: 0.3rem;
            border-radius: 10px;
        }
    }

    .BlockBody {
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
}

.fileService {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    align-items: center;

    .Download-button {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
        padding: 5px 5px;
        color: white;
        background: rgb(103, 92, 156);
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
        letter-spacing: 0.05em;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
    }

    .Download-button svg {
        width: 15px;
    }
}

.Obs {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Reference {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .titleEtaps{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    img{
        width: 200px;
        border-radius: 30px;
    }

    .ReferenceFiles{
        display: flex;
        gap: 10px;
    }
}

.statusMarcenaria{

    .inputsMarcenaria{
        display: flex;
        gap: 40px;
        padding-top: 20px;

        p{
            position: relative;
            margin-bottom: .3rem;
            font-size: .9rem;
            left: 10px;
        }
        
    }
    .spanMarcenaria{
        padding-top: 20px;
        display: flex;
        gap: 40px;
    }
}

.statusRevest{
    
}

.inputs{
    display: flex;
    gap: 40px;
    padding-top: 20px;

    p{
        position: relative;
        margin-bottom: .3rem;
        font-size: .9rem;
        left: 10px;
    }
}

.inputsSpan{
    padding-top: 20px;
    display: flex;
    gap: 40px;
}

.titleEtaps {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
}

.lalabel {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
    cursor: pointer;
    width: 80px;
    width: 100px;
    height: 20px;
}

.lalabel:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.lalabel:focus,
.lalabel:active {
    opacity: .85;
    box-shadow: none;
}

.lalabel svg {
    width: 1.25rem;
    height: 1.25rem;
}

input[type="file"] {
    display: none;
}


.block-bot::-webkit-scrollbar {
    background-color: transparent;
}

.input{
    border: solid 1.5px white;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: white;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid white;
    background: white;
    color: black;
}

.BlockBotton{
    display: flex;
    justify-content: end;
    margin-bottom: 30px;

    .Atualizar {
        position: relative;
        padding: 10px 22px;
        border-radius: 6px;
        border: none;
        color: #fff;
        cursor: pointer;
        background-color: #d4a218;
        transition: all 0.2s ease;
    }
}

.plusButton {
    --plus_sideLength: 1.5rem;
    --plus_topRightTriangleSideLength: 0.4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}