@font-face {
    font-family: Higuen Regular;
    src: url('fonts/Higuen.otf') format('woff2');
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background-color: #c7b099;
}

.block-top{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 0px 40px;
    
    .left {
        display: flex;

        img {
            width: 50px;
        }
    }
    
    .rigth {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .user{
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: "Montserrat", sans-serif;

            .name{
                text-align: end;
                font-size: 15px;
                letter-spacing: 0.16em;
                text-transform: uppercase;
            }
        }
        .rightSecond{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

.block-bot{
    height: 92%;
    padding: 50px 100px 0px 100px;
    overflow: hidden;
    overflow-y: auto;

    .bot-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid white;
        height: 100px;

        .title{
            h2{
                font-size: 41px;
                font-family: Higuen\ Regular;
                font-weight: 400;
                height: 50px;
            }
        }
    }
    .newProject{
        .button {
            position: relative;
            transition: all 0.3s ease-in-out;
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            background-color: #8e6a4a;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            gap: 10px;
            font-weight: bold;
            border: 3px solid #8e6a4a;
            outline: none;
            overflow: hidden;
            font-size: 12px;
            cursor: pointer;
            font-family: "Sorts Mill Goudy", serif;
          }
          
          .icon {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;
          }
          
          .button:hover .icon {
            transform: translate(4px);
          }
          
          .button::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100%;
            background-image: linear-gradient(
              120deg,
              rgba(255, 255, 255, 0) 30%,
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0) 70%
            );
            top: 0;
            left: -100px;
            opacity: 0.6;
          }
    }
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    
    img{
        width: 300px;
        height: 300px;
        filter: brightness(0.6);
        border-radius: 40px;
    }
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;

    .title{
        position: fixed;
        font-size: 30px;
        z-index: 10;
    }
}

.block-bot::-webkit-scrollbar{
    background-color: transparent; 
}

.nameProject{
    position: relative;
    z-index: 1000;
    left: 54px;
    bottom: 120px;
    color: #cfcfcf;
}

@media screen and (max-width: 768px){

    .block-top {
        & .rigth {
            .user {
                display: none;
            }
        }
    }

    .block-bot {
        padding: 50px 10px 0px 10px;

        .bot-top {
            padding-bottom: 10px;
            flex-direction: column-reverse;
        }
    }

    
}