<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Portfolio/0. Logo.png">
  <link rel="stylesheet" href="/projetos.css">
  <title>Leticia Sanada - Recanto</title>
</head>

<body>
  <div class="navbar">
    <div class="navbar-logo">
      <a href="/"><img src="/Portfolio/0. Logo.png" alt="LogoSanada"></a>
    </div>

    <div class="navbar-background__bloor"></div>
    <div class="navbar-pages">
      <a href="/">
        <nav>HOME</nav>
      </a>
      <a target="_self" href="/#threBlock">
        <nav>PORTFÓLIO</nav>
      </a>
      <a target="_self" href="/#forBlock">
        <nav>PROJETOS</nav>
      </a>
      <a target="_self" href="/#fiveBlock"">
            <nav>CONTATO</nav>
          </a>
        </div>
  </div>

  
    <div class="container">
      <div class=" title">
        <h1>
          <span>Recanto</span>
        </h1>
      </div>
      <main class='gallery'>
        <div id="image-container" class='projeto' data-pos='0'><img src='/Portfolio/1. Home.png'></div>
        <div id="image-container" class='projeto' data-pos='1'><img src='/Portfolio/6. Recanto/28. Recanto.png'></div>
        <div id="image-container" class='projeto' data-pos='2'><img src='/Portfolio/6. Recanto/29. Recanto.png'></div>
        <div id="image-container" class='projeto' data-pos='3'><img src='/Portfolio/6. Recanto/30. Recanto.png'></div>
        <div id="image-container" class='projeto' data-pos='4'><img src='/Portfolio/6. Recanto/31. Recanto.png'></div>
        <div id="image-container" class='projeto' data-pos='5'><img src='/Portfolio/6. Recanto/32. Recanto.png'></div>
        <div id="image-container" class='projeto' data-pos='6'><img src='/Portfolio/6. Recanto/33. Recanto.png'></div>
      </main>
    </div>

</body>
<script src="/script/script.js"></script>
</html>