<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Portfolio/0. Logo.png">
    <link rel="stylesheet" href="/projetos.css">
    <title>Leticia Sanada - Suite</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">
          <a href="/"><img src="/Portfolio/0. Logo.png" alt="LogoSanada"></a>
        </div>
        <div class="navbar-background__bloor"></div>
        <div class="navbar-pages">
          <a href="../index.html">
            <nav>HOME</nav>
          </a>
          <a target="_self" href="/#threBlock">
            <nav>PORTFÓLIO</nav>
          </a>
          <a target="_self" href="/#forBlock">
            <nav>PROJETOS</nav>
          </a>
          <a target="_self" href="/#fiveBlock"">
            <nav>CONTATO</nav>
          </a>
        </div>
      </div>
    <div class="container">
        <div class=" title">
        <h1>
          <span>Suite</span>
        </h1>
      </div>
        <main class='gallery'>
            <div id="image-container" class='projeto' data-pos='0'><img src='/Portfolio/8. Suíte/SC-1.png'></div>
            <div id="image-container" class='projeto' data-pos='1'><img src='/Portfolio/8. Suíte/SC-2.png'></div>
            <div id="image-container" class='projeto' data-pos='2'><img src='/Portfolio/8. Suíte/SC-3.png'></div>
            <div id="image-container" class='projeto' data-pos='3'><img src='/Portfolio/8. Suíte/SC-4.png'></div>
        </main>
    </div>
    
</body>
<script src="/script/script.js"></script>

</html>