<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <link rel="icon" href="Portfolio/0. Logo.png">
    <link rel="stylesheet" href="users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h3>Login</h3>
        </div>
        <div class="mid">
            <form action="" method="post">
                <div class="input-group">
                    <input required="" type="email" name="email" autocomplete="off" class="input">
                    <label class="user-label">Email</label>
                </div>
                <div class="input-group" style="display: flex; flex-direction: column;">
                    <input required="" type="password" name="password" autocomplete="off" class="input">
                    <label class="user-label">Senha</label>
                    <a href="">Esqueci a senha</a>
                </div>
            </form>
        </div>
        <div class="bottom">
            <button>Enviar</button>
            <div class="solid"></div>
            <div class="bottom-bot">
                <a href="/register"><button style="font-size: 12px; height: 2rem; padding: 0 2rem;">Cadastrar-se</button></a>
            </div>
        </div>
    </div>
</body>
</html>