<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="container-register">
        <div class="formulario">
            <form action="a" method="post">
                    <div class="grid">
                        <div class="input-group">
                            <input required type="text" name="name" id="name" autocomplete="off" class="input">
                            <label class="user-label">Nome</label>
                        </div>
                        <div class="input-group">
                            <input required type="text" name="surname" id="surname" autocomplete="off" class="input">
                            <label class="user-label">Sobrenome</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="email" name="email" id="email" autocomplete="off" class="input">
                            <label class="user-label">Email</label>
                        </div>
                        <div class="input-group">
                            <input required type="number" name="cpf" id="cpf" autocomplete="off" class="input">
                            <label class="user-label">Cpf</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="date" name="birth" id="birth" autocomplete="off" class="input">
                        </div>
                        <div class="input-group">
                            <input required type="tel" name="telefone" id="tel" autocomplete="off" class="input">
                            <label class="user-label">Telefone</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="password" name="password" id="password" autocomplete="off" class="input">
                            <label class="user-label">Senha</label>
                        </div>
                        <div class="input-group">
                            <input required type="password" name="password" id="password" autocomplete="off" class="input">
                            <label class="user-label">Confirmar senha</label>
                        </div>
                    </div> 
            </form>
        </div>
        <div class="botton-register">

        </div>
    </div>
</body>
</html>