<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="Portfolio/0. Logo.png">
    <link rel="stylesheet" href="users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<script>
    
    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('road').value=("");
            document.getElementById('neighborhood').value=("");
            document.getElementById('city').value=("");
            document.getElementById('uf').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('road').value=(conteudo.logradouro);
            document.getElementById('neighborhood').value=(conteudo.bairro);
            document.getElementById('city').value=(conteudo.localidade);
            document.getElementById('uf').value=(conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
        
    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('road').value="...";
                document.getElementById('neighborhood').value="...";
                document.getElementById('city').value="...";
                document.getElementById('uf').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

</script>

<body>
    <div class="container-register">
        <div class="top-register">
            <h3>Cadastro</h3>
        </div>
        <div class="formulario">
            <form action="/users/register" method="post">
                    <div class="grid">
                        <div class="input-group">
                            <input required type="text" name="name" id="name" autocomplete="off" class="input">
                            <label class="user-label">Nome</label>
                        </div>
                        <div class="input-group">
                            <input required type="text" name="surname" id="surname" autocomplete="off" class="input">
                            <label class="user-label">Sobrenome</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="email" name="email" id="email" autocomplete="off" class="input">
                            <label class="user-label">Email</label>
                        </div>
                        <div class="input-group">
                            <input required type="text" name="cpf" id="cpf" value="" onblur="validaCPF(this.value);" maxlength="11" class="input">
                            <label class="user-label">Cpf</label>
                        </div>
                    </div>
                    <div class="grid" style="justify-content: space-between;">
                        <div class="input-group">
                            <input required type="date" name="birth" id="birth" autocomplete="off" class="input">
                        </div>
                        <div class="input-group">
                            <input required type="tel" name="tel" id="tel" maxlength="11" autocomplete="off" class="input">
                            <label class="user-label">Telefone</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="password" name="password" id="password" autocomplete="off" class="input">
                            <label class="user-label">Senha</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="cep" id="cep" value=""  maxlength="9" onblur="pesquisacep(this.value);" required class="input">
                            <label class="user-label">Cep</label>
                        </div>
                    </div> 
                    <div class="grid">
                        <div class="input-group">
                            <input required type="text" name="road" id="road" class="input">
                            <label class="user-label">Rua</label>
                        </div>
                        <div class="input-group">
                            <input required type="text" name="neighborhood" id="neighborhood" class="input">
                            <label class="user-label">Bairro</label>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-group">
                            <input required type="text" name="city" id="city"  class="input">
                            <label class="user-label">Cidade</label>
                        </div>
                        <div class="input-group">
                            <input required type="text" name="uf" id="uf" class="input">
                            <label class="user-label">Uf</label>
                        </div>
                    </div>
                    <div class="bottom">
                        <button>Enviar</button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>